# pip3 install -r requirements.txt

# 其他库
requests > 1
ruamel.yaml
Flask > 1
aiohttp >= 3.8.3
APScheduler > 1
colorlog >= 6.7.0

socksio >= 1.0.0
Flask-Cors
pyinstaller
requests[socks]
pysocks
# ws需要插件
simple-websocket
Flask-SocketIO==5.2.0
gevent-websocket
gevent
eventlet
dnspython==2.2.1