{% extends 'module.html' %}
{% block content %}
    <h1>{% block title %}待分类功能{% endblock %}</h1>
{#    <a href="{{ url_for('pare') }}" class="link-info">禁用重复任务</a>#}
    <form action="{{ url_for('pare') }}" method="get">
        <label>
            <select name="sun"  class="form-select" aria-label="Default select example">
                <option value="0" selected = "selected">禁用活动脚本</option>
                <option value="1">禁用重复脚本</option>
            </select>
        </label>
        <button type="submit" class="btn btn-info">更新软件</button>
    </form>
    <form action="/gi" method="post">
        <label>
            <select name="gi"  class="form-select" aria-label="Default select example">
                <option value="0" selected = "selected">不保留配置文件更新</option>
                <option value="1">保留配置文件更新</option>
            </select>
        </label>
        <button type="submit" class="btn btn-info">更新软件</button>
    </form>
{% endblock %}