{% extends 'module.html' %}
{% block content %}
    <h1>{% block title %}日志{% endblock %}</h1>
    <h1>3.2版本 2022-12-08 03:00</h1>
    <div id="log">
        {% for rz in rz  %}
            {% if "[info]" in rz %}
                <p><span style="color: rgba(138,43,226,0.68); ">{{ rz }}</span></p>
            {% elif "[warning]" in rz %}
                <p><span style="color: rgba(255,204,0,0.89); ">{{ rz }}</span></p>
            {% elif "[debug]" in rz %}
                <p><span style="color: rgba(0,255,255,0.73); ">{{ rz }}</span></p>
            {% elif "[error]" in rz %}
                <p><span style="color: rgba(255,0,0,0.75); ">{{ rz }}</span></p>
            {% else %}
                <p>{{ rz }}</p>
            {% endif %}
        {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='js/ws.js') }}"></script>
{% endblock %}