<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 这是一个网页模板 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='img/gate.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
{#            <!-- {{ url_for('ind.index')}}指向index函数有装饰器的才可以 -->#}
            <a class="navbar-brand" href="https://github.com/XgzK/QL_variable">活动参数</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('ind.index') }}">配置文件填写</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('apg.under') }}">更新和禁用</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('apg.repeat') }}">查看重复执行参数</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('apg.log') }}">查看日志</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {#  取出来flash的内容  #}
        {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        <!-- 页面占位符 -->
        {% block content %} {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/jquery-3.6.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>